.skills.section {
  padding: 6.5rem 0 2rem;
}

.skills-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  justify-content: center;
}

.skills-content {
  background-color: var(--box-color);
  padding: 2rem;
  border-radius: 0.5rem;
  transition: 0.4s;
}

.skills-header {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.skills-icon {
  font-size: 2rem;
  color: var(--skin-color);
  margin-right: 0.75rem;
}

.skills-title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.skills-subtitle {
  font-size: var(--small-font-size);
}

.skills-arrow {
  font-size: 2rem;
  color: var(--skin-color);
  margin-left: auto;
  transition: 0.4s;
}

.skills-open .skills-arrow {
  transform: rotate(-90deg);
}

.skills-list {
  padding: 2rem 0 0 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  justify-content: center;
}

.skill-icon-wrapper {
  font-size: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.3s;
}

.skills-close .skills-list {
  transform: scale(1.2);
}

.section-title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: var(--mb3);
}

.section-title::before {
  content: attr(data-heading);
  display: block;
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--skin-color);
}


.skills-icons {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-top: 1.5rem;
  justify-content: center;
}

.skill-icon {
  font-size: 3rem;
  transition: transform 0.3s;
}

.skill-icon:hover {
  transform: scale(1.2);
}
