:root {
    --primary-color: #3b82f6;
    --background-color-alpha: rgba(15, 23, 42, 0.05);
    --border-color: #4b5563;
    --text-color: rgba(229, 231, 235, 0.8);
    --muted-background: rgba(59, 130, 246, 0.1);
    --primary-alpha-20: rgba(59, 130, 246, 0.2);
}

.navbar-container {
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 50;
    margin-bottom: 1.5rem;
    
}

.navbar-content {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    background-color: var(--background-color-alpha);
    border: 1px solid var(--border-color);
    backdrop-filter: blur(16px);
    padding: 0.25rem;
    border-radius: 9999px;
    box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    transform: scale(1.05);
}

.navbar-item {
    position: relative;
    cursor: pointer;
    font-size: 0.875rem;
    font-weight: 600;
    padding: 0.5rem 1.5rem;
    border-radius: 9999px;
    transition: color 0.2s ease-in-out;
    color: var(--text-color);
    text-decoration: none;
}

.navbar-item:hover {
    color: var(--primary-color);
}

.navbar-item.active {
    color: var(--primary-color);
}

.navbar-item .navbar-item-name {
    display: none;
}

.navbar-item .navbar-item-icon {
    display: inline;
}

.navbar-lamp {
    position: absolute;
    inset: 0;
    width: 100%;
    background-color: var(--muted-background);
    border-radius: 9999px;
    z-index: -10;
}

.lamp-top {
    position: absolute;
    top: -0.5rem;
    left: 50%;
    transform: translateX(-50%);
    width: 2rem;
    height: 0.25rem;
    background-color: var(--primary-color);
    border-top-left-radius: 9999px;
    border-top-right-radius: 9999px;
}

.lamp-blur-1 {
    position: absolute;
    width: 3rem;
    height: 1.5rem;
    background-color: var(--primary-alpha-20);
    border-radius: 9999px;
    filter: blur(12px);
    top: -0.5rem;
    left: -0.5rem;
}

.lamp-blur-2 {
    position: absolute;
    width: 2rem;
    height: 1.5rem;
    background-color: var(--primary-alpha-20);
    border-radius: 9999px;
    filter: blur(12px);
    top: -0.25rem;
}

.lamp-blur-3 {
    position: absolute;
    width: 1rem;
    height: 1rem;
    background-color: var(--primary-alpha-20);
    border-radius: 9999px;
    filter: blur(8px);
    top: 0;
    left: 0.5rem;
}


@media (min-width: 768px) {
    .navbar-container {
        top: 0;
        bottom: auto;
        padding-top: 1.5rem;
    }

    .navbar-item .navbar-item-name {
        display: inline;
    }

    .navbar-item .navbar-item-icon {
        display: none;
    }
}
